*{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
}
body{

}
.margincenter{
    width: 980px;
	margin: auto;
	margin-top: 50px;
}
.margincenter>img{
	width: 100%;
}
.erwei{
	position:relative;
	display: none;
}
.erwei .ma{
	z-index: 10;
	width: 80%;
	left: 10%;
	top: 100px;
}
.erwei img{
	width: 100%;
	position: absolute;
	top: 0px;
}