<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<script src="/assets/index/bs/js/jquery.js"></script>
		<script src="/assets/Admin/js/index.js"></script>
		<link rel="stylesheet" type="text/css" href="/assets/Admin/css/index.css"/>
	</head>
	<body>
		<div class="margincenter">
			<img src="/assets/Admin/image/a1.png" />
			<img src="/assets/Admin/image/a2.png"/>
			<img src="/assets/Admin/image/a3.jpg"/>
			<img class="join" src="/assets/Admin/image/a5.png"/>
			<div class="erwei">
				<img class="ma" src="/assets/Admin/image/cx.jpg"/>
				<img src="/assets/Admin/image/a4.png"/>
			</div>
			
		</div>
	</body>
</html>